{% import '_macros' as m %}

<article class="post-thumb">
  <a href="{{ post.url }}">
    <figure class="post-thumb__image">
      {{ m.srcset(post.featuredImage.one(), {
        widths: [1000, 600],
        transformConfig: {
          ratio: 4/3,
        },
      }) }}
    </figure>
    <header>
      <h2>{{ post.title|typogrify }}</h2>
      {{ m.date(post.postDate) }}
    </header>
    {{ post.summary|typogrify }}
  </a>
</li>
