{%- set domains = [
  siteUrl,
  'https://p.typekit.net',
  'https://use.typekit.net',
  'https://www.googletagmanager.com/',
] -%}
{%- for domain in domains %}
  {% header "Link: <#{domain}>; rel=dns-prefetch;,<#{domain}>; rel=preconnect; crossorigin;" -%}
{% endfor -%}

{%- minify -%}
<!DOCTYPE html>
<html lang="{{ craft.app.language|slice(0,2) }}" prefix="og:http://ogp.me/ns# fb:http://ogp.me/ns/fb#" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% for domain in domains %}
      <link rel="preconnect" href="{{ domain }}" crossorigin>
    {% endfor %}

    {# Main Styles -#}
    <link rel="stylesheet" href="{{ rev('/styles/main.css') }}">

    {# Load JavaScript -#}
    {% set inlineScripts %}
      (function(d) {
        d.documentElement.className = d.documentElement.className.replace('no-js', 'js');

        window.site = {{ {
          baseUrl: siteUrl,
          siteName: siteName,
          csrfToken: craft.app.request.csrfToken
        }|json_encode }}

        function loadScript(src) {
          var r=d.getElementsByTagName('script')[0],s=d.createElement('script');
          s.async=true,s.src=src;r.parentNode.insertBefore(s,r);
        }

        {# Polyfill other modern JS methods -#}
        if (typeof window.matchMedia === 'undefined' && typeof window.msMatchMedia === 'undefined') {
          loadScript('https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js');
        }
        if (!'IntersectionObserver' in window) {
          loadScript('https://polyfill.io/v2/polyfill.min.js?features=IntersectionObserver');
        }

        {# Typekit embed -#}
        var config = { kitId: 'xxx', scriptTimeout: 3000, async: true },
        h=d.documentElement,t=setTimeout(function(){
        h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},
        config.scriptTimeout),tk=d.createElement("script"),f=false,
        s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";
        tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;
        tk.onload=tk.onreadystatechange=function(){a=this.readyState;
        if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);
        try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
      })(document);
    {% endset %}
    {% do craft.app.view.registerScript(inlineScripts, POS_HEAD) %}
    {% do craft.app.view.registerScript(rev('/scripts/initial.js'), POS_HEAD) %}
    {% do craft.app.view.registerJsFile(rev('/scripts/main.js'), {
      defer: 'defer',
      position: POS_HEAD,
    }) %}

    {# Everything Craft outputs directly -#}
    {{ head() }}

    {# RSS feed autodiscovery -#}
    <link rel="alternate" type="application/rss+xml" title="{{ siteName }} RSS feed" href="{{ url('blog/feed.rss') }}">

    {# Favicons, etc. -#}
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url('assets/static/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url('assets/static/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url('assets/static/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ url('assets/static/site.webmanifest') }}">
    <link rel="mask-icon" href="{{ url('assets/static/safari-pinned-tab.svg') }}" color="#000000">
    <link rel="shortcut icon" href="{{ url('assets/static/favicon.ico') }}">
    <meta name="msapplication-config" content="{{ url('assets/icons/browserconfig.xml') }}">
    <meta name="msapplication-TileColor" content="#000000">
    <meta name="apple-mobile-web-app-title" content="{{ siteName }}">
    <meta name="application-name" content="{{ siteName }}">
    <meta name="theme-color" content="#ffffff">

    {% block htmlHead %}{% endblock %}
  </head>

  <body class="{{ bodyClass ?? '' }}">
    {{ beginBody() }}

    <a href="#main" class="fixed pin-t pin-l -mt-32 z-100 px-4 py-2 text-lg font-bold text-black bg-white shadow focus:mt-0">Skip to content</a>

    <!--[if lt IE 11]>
      <div class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a>
        to improve your experience and security.
      </div>
    <![endif]-->

    {% block top %}{% endblock %}

    <div id="app" class="flex flex-col items-stretch min-h-screen">
      <div class="flex-grow">
        {# Global website header, including navigation #}
        {% block header %}
          {% include "_layouts/global-header" %}
        {% endblock %}

        {# Main body content of page #}
        <main id="main" class="outline-none" tabindex="-1">
          {% block beforeContent %}{% endblock %}
          {% block content %}
            {% include ["_content/body-#{entry.slug}", "_content/body-#{entry.section.handle}", '_content/body-default'] %}
          {% endblock %}
          {% block afterContent %}{% endblock %}
        </main>
      </div>

      {# Global footer #}
      {% block footer %}
        {% include "_layouts/global-footer" %}
      {% endblock %}
    </div>

    {% block bottom %}{% endblock %}

    {{ endBody() }}
  </body>
</html>
{%- endminify -%}
